<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <center>

            <h1>Cotizacion </h1>

     
        
        <form action="/cotizacion" method="post">
           <label for="">Valor del automovil</label>  
           <input type="number" 
            id="valor" 
            name="valor" 
            required="true" 
            value="<%=valor%>">
            <label for="">Porcentaje de pago Inicial</label>  
            <select name="pInicial" id="pInicial">

                <option value="10">10%</option>
                <option value="20">20%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>


            </select>
            <br>
            <label for="">Plazos</label>
            <select name="plazos" id="plazos">
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Meses</option>
                <option value="60">60 Meses</option>
                <option value="72">72 Meses</option>
            </select>

            <button type="submit">Enviar</button>
        </form>
    </center>
        <%
            if(pInicial!=0){
                let pagoInicial=0;
                let TotalFin = 0;
                let pagoMensual =0;

                pagoInicial= valor*(pInicial/100);
                TotalFin = valor - pagoInicial;
                pagoMensual = TotalFin/plazos;

            

            %>
                <h3>Resumen de la cotizacion </h3>
                <br>
                Valor del Automovil: <%=valor%>
                Porcentaje de pagoInicial: <%=pInicial%>
                Plazos : <%=plazos%>
                <br>
                pago Inicial: <%=pagoInicial%>
                total a financiar: <%=TotalFin%>
                pago Mensual: <%pagoMensual%>
                <%
            }
            %>
          
    </div>
</body>
</html>