<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 01 EJS</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
    <center>
        <br>
       <h1><%=titulo%></h1> 
       <img src="./img/Upsin.png" alt="">
    <br>
    </center>
   

    <table class="table table-hover table-bordered border-light">

    <tr class="table-dark">
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Materias</th>
    </tr>
 

    <% for(alumno of listado){ %> 
        <tr class="table-active">
            <td><%=alumno.matricula%></td>
            <td><%=alumno.nombre%></td>
            <td><%=alumno.sexo%></td>
            <td><%=alumno.materias%></td>
            
        </tr>
    <%
    }
    %>
</table>
</div>
</body>
</html>